p {
	font-family: notosansRegular;
}

.pdLeft15 {
	padding-left: 15px !important;
}

.popover-body {
	text-align: justify;
}

.introduce {
  position: relative;
  background-image: url(../imgs/Hilton-coconut-trees-holiday-hotel-261137.png);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;

  @include respond-to(sm) {
    height: 500px;
  }

  @include respond-to(md) {
    height: 650px;
  }

  @include respond-to(xs) {
    position: static;
    padding: 30px 0;
  }
}

.logo--introduce {
  width: 170px;

  @include respond-to(xs) {
    width: 140px;
  }
}

.content--introduce {
  position: absolute;
  top: 60px;
  right: 100px;
  width: 570px;
  margin-bottom: 110px;
  text-align: right;

  @include respond-to(md) {
    top: 50px;
    right: 10px;
    width: 535px;
  }

  @include respond-to(sm) {
    top: 50px;
    right: 10px;
    width: 460px;
  }

  @include respond-to(xs) {
    position: static;
    width: 100%;
    margin-bottom: 0;
    text-align: center;
  }

  img {
    margin-bottom: -20px;

    @include respond-to(sm) {
      width: 400px;
    }

    @include respond-to(xs) {
      width: 350px;
    }
  }

  hr {
    width: 400px;
    border: 1px solid #fff;

    @include respond-to(xs) {
      width: 100px;
    }
  }
}

.title--introduce {
  color: #fff;
  font-family: BebasNeueBold;
  font-size: 40px;
}

.sub--title-introduce {
  color: #fff;
  font-family: BebasNeueRegular;
  font-size: 30px;
}

.describe--introduce {
  margin-top: 20px;
  font-size: 16px;
  letter-spacing: 1.5px;
  line-height: 28px;
  font-family: montserratRegular;
  color: #fff;

  @include respond-to(sm) {
    margin-bottom: 0px;
    padding: 0px auto;
  }

  @include respond-to(lg-v4) {
    margin-top: 10px;
    font-size: 14px;
    letter-spacing: 1px;
    line-height: 26px;
  }

  @include respond-to(md) {
    margin-bottom: 0px;
    padding: 0px auto;
  }

  @include respond-to(xs) {
    font-size: 14px;
    padding: 30px 30px 0px 30px;
  }
}

.div--logo {
  margin-bottom: 20px;
	top: 50px;
	left: 115px;
	text-align: center;

	h2 {
		text-transform: uppercase;
		color: #213e99;
		text-align: center;
		font-family: montserratSemiBold;
		font-size: 18px;
	}

	@include respond-to(md) {
		top: 50px;
		left: 10px;
	}

	@include respond-to(sm) {
		top: 50px;
		left: 10px;
	}

	@include respond-to(xs) {
		position: static;
		width: 100%;
	}
}

.fp-tooltip {
	color: #333 !important;
}

// .img1--introduce {
//   margin-left: -65px;
// }

.img2--introduce {
	margin-left: 80px;
}

.img1--introduce {
	margin-top: 30px;
}
