.location{
	background: #aadaff url("../imgs/Hilton-Ban-do.png") no-repeat;
	background-size: contain;

	@include respond-to(xs) {
		text-align: center;
		background-size: cover;
	}
	
	.title{
		padding-top: 20px ;
	}
	.location--content{
		p {
			font-family: notosansRegular;
			padding: 20px 50px 0 0;
			margin-bottom: -5px;
			font-size: 14px;
			letter-spacing: 1px;
			line-height: 25px;
			text-align: justify;

			@include respond-to(lg-v4) {
				padding: 30px 50px 0 0;
			};

			@include respond-to(xs) {
				padding: 10px;
			};
		}
	}

	.img-location {
		width:45%;

		@include respond-to(lg-v4) {
				display: none;
			};
	}
}
@include respond-to(md){
	.location{
		.location--content{
			.content{
				background: rgba(24, 156, 46, 0.5);
			}
			p{
				color: #fff;
				letter-spacing: 0.5px;
				line-height: 20px;
			}
		}

	}
}
@include respond-to(sm){
	.location{
		background: #A3CDFF;
		.location--content{
			img{
				display: block;
			}
		}
	}
}
@include respond-to(xs){
	.location{
		background: #A3CDFF;
		.location--content{
			img {
				display: block;
				margin-top: -50px;
			}
		}
	}
}
