.size {
  background: url("../imgs/Hilton-Thongtin.jpg") no-repeat center;
  background-size: cover;

  @include respond-to(sm) {
    height: 600px;
  }

  @include respond-to(md) {
    height: 600px;
  }
}

.size__wrap {
  position: relative;

  @include respond-to(xs) {
    position: static;
    display: flex;
    flex-flow: wrap;
    justify-content: center;
    padding: 20px 0px;
  }

  a {
    @include respond-to(xs) {
      width: 90%;
    }
  }
}

.size__item {
  position: absolute;
  display: inline-block;
  width: 398px;
  padding: 15px;
  background: rgba(31, 173, 33, 0.8);
  border-radius: 15px;
  color: #fff;
  font-weight: 400;

  @include respond-to(md) {
    width: 350px;
  }

  @include respond-to(sm) {
    width: 300px;
  }

  @include respond-to(xs) {
    position: static;
    width: 90%;
    margin-bottom: 20px;
  }

  h2 {
    margin-bottom: 10px;
    font-family: montserratRegular;
    font-size: 30px;
    font-weight: 600;
    text-transform: uppercase;

    @include respond-to(sm) {
      font-size: 28px;
    }

    @include respond-to(xs) {
      font-size: 24px;
    }
  }

  p {
    margin-bottom: 3px;
    font-family: notosansRegular;
    font-size: 14px;
    font-weight: 400;
    line-height: 25px;
  }
}

.size__item--left-1 {
  top: -300px;
  left: 80px;

  @include respond-to(lg-v4) {
    top: -250px;
  left: 80px;
  }
  @include respond-to(md) {
    top: 30px;
    left: 40px;
  }

  @include respond-to(sm) {
    top: 20px;
  }

  // @include respond-to(xs) {
  //   width: 95%;
  //   margin: 0 auto;
  //   display: block;
  // }
}

.size__item--right {
  right: 80px;
  top: -87px;
  padding: 15px 25px;

  h2{
    margin-bottom: 10px;
    font-size: 24px;
  }

  @include respond-to(md) {
    top: 124px;
  }

  @include respond-to(sm) {
    width: 250px;
    position: absolute;
    top: 60px;
    right: 25px;
  }

  @include respond-to(xs) {
    width: 90%;
  }
}

.p--plus {
  margin-left: 15px;
}

.p--dots {
  margin-left: 30px;
}

.btn--size {
  position: absolute;
  top: 100px;
  left: 80px;
  width: 398px;
  height: 55px;
  background-color: #F4AE2C;
  border: none;
  border-radius: 10px;
  box-shadow: 3px 3px 8px rgba(0,0,0,0.25);
  text-transform: uppercase;
  font-size: 20px;
  font-family: montserratMedium;
  cursor: pointer;

  &:hover {
    background-color: #f9c422;
  }

  @include respond-to(lg-v4) {
    top: 140px;
  }

  @include respond-to(md) {
    width: 350px;
    top: 520px;
    left: 40px;
  }

  @include respond-to(sm) {
    width: 300px;
    top: 520px;
    left: 25px;
  }

  @include respond-to(xs) {
    position: static;
    width: 90%;
  }
}
