.utility {
	height: 100%;
	background: url(../imgs/bai-tam-my-khe-6.png) no-repeat top;
	background-size: cover;
}

.utility--wrap {
	width: 90%;
	margin: 0px auto;

	@include respond-to(md) {
		padding: 20px;
	};

	@include respond-to(sm) {
		padding: 10px;
	};

	@include respond-to(xs) {
		padding: 20px;
	};
}

.utility--title {
	width: 350px;
	height: 240px;
	margin-bottom: 20px;
	margin-left: prop(830);

	@include respond-to(md) {
		height: 200px;
		margin-left: prop(660);
	};

	@include respond-to(sm) {
		height: 200px;
		margin-left: prop(450);
	};

	@include respond-to(xs) {
		width: 100%;
		height: 170px;
		margin: 0px auto;
		text-align: center;
	};

	h2 {
		margin-bottom: 20px;
		font-family: montserratSemiBold;
		font-size: 30px;
		font-weight: 500;

		@include respond-to(xs) {
			font-size: 24px;
		};
	}

	p {
		margin-bottom: -210px;
		color: #fff;
		font-family: notosansRegular;
		font-size: 14px;
	}
}

.utility--content {
	display: flex;
	flex-flow: row wrap;
	justify-content: space-between;

	@include respond-to(xs) {
		justify-content: center;
	};
}

.utility--detail {
	position: relative;
	width: calc(100% / 4 - 40px);
	height: 245px;
	border: 7px solid rgba(255, 255, 255, .4);
	box-shadow: 4px 8px 7px rgba(0, 0, 0, 0.48);

	@include respond-to(md) {
		width: calc(100% / 2 - 40px);
		margin-bottom: 20px;
	};

	@include respond-to(sm) {
		width: calc(100% / 2 - 20px);
		margin-bottom: 20px;
	};

	@include respond-to(xs) {
		width: calc(100% - 60px);
		margin-bottom: 20px;
	};

	img {
		width: 100%;
		height: 100%;
	}
}

.content--detail {
	width: 100%;
	background: rgba(0,0,0,0.5);
	position: absolute;
	bottom: -16px;
	font-size: 18px;
	font-family: notosansRegular;
	text-align: center;
	color: #fff;
	padding: 5px;
}
