<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
	<link rel="icon" href="/public/favicon.ico" type="image/gif" sizes="16x16">

    <title>Tuần Châu Marina | Trang quản lý</title>

    <% include particals/head.ejs %>
</head>

<body class="nav-md">
    <div class="container body">
        <div class="main_container">
            <% include particals/navigation_left.ejs %>

            <% include particals/navigation_top.ejs %>

            <!-- page content -->
            <div class="right_col" role="main">
                <%- body %>
            </div>
            <!-- /page content -->

            <% include particals/footer.ejs %>
        </div>
    </div>

    <% include particals/script.ejs %>
</body>
</html>
