<!DOCTYPE html>
<html lang="en">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <!-- Meta, title, CSS, favicons, etc. -->
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
	<link rel="icon" href="/public/favicon.ico" type="image/gif" sizes="16x16">

	<title>Tuần Châu Marina | Xác thực người dùng</title>

   <% include particals/head.ejs %>
</head>

<body class="login">
    <div>
        <div class="login_wrapper">
            <%- body %>
        </div>
    </div>

    <% include particals/script.ejs %>
</body>
</html>
