<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8">
	<title>Tuần Châu Marina | 404</title>
	<meta name="author" content="Hilton">

	<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">

	<link rel="stylesheet" href="/public/client/css/base.min.css">
	<link rel="stylesheet" href="/public/client/css/404.min.css">
</head>

<body>
	<header class="main-header">
		<div class="row">
			<div class="logo">
				<a href="/"></a>
			</div>
		</div>
	</header>
	<main id="main-404-content" class="main-content-static">
		<div class="content-wrap">
			<div class="shadow-overlay"></div>

			<div class="main-content">
				<div class="row">
					<div class="col-twelve">

						<h1 class="kern-this">404 Error.</h1>
						<p>
							Trang bạn tìm kiếm không tồn tại.
							<br>
							Hãy kiểm tra lại đường dẫn hoặc <a href="/">quay lại trang chủ</a> nhé.
						</p>
					</div>
				</div>
			</div>

			<footer>
				<div class="row">

					<div class="col-seven tab-full social-links pull-right">
						<ul>
							<li><a href="#"><i class="fa fa-facebook"></i></a></li>
							<li><a href="#"><i class="fa fa-behance"></i></a></li>
							<li><a href="#"><i class="fa fa-twitter"></i></a></li>
							<li><a href="#"><i class="fa fa-dribbble"></i></a></li>
							<li><a href="#"><i class="fa fa-instagram"></i></a></li>
						</ul>
					</div>

				</div>
			</footer>

		</div>

	</main>
</body>
</html>
