<!DOCTYPE html>
<html lang="en">
<head>
	<% include meta.ejs %>
	<title>Dự án Tuần Châu Marina | Tập đoàn Tuần Châu</title>

	<link href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta.3/css/bootstrap.min.css" rel="stylesheet"
		  integrity="sha384-Zug+QiDoJOrZ5t4lssLdxGhVrurbmBWopoEl+M6BdEfwnCJZtKxi1KgxUyJq13dy" crossorigin="anonymous">
	<!-- <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/fullPage.js/2.9.4/jquery.fullpage.min.css"/> -->
	<link rel="stylesheet" type="text/css"
		  href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
	<link rel="stylesheet" href="/public/client/css/style.bundle.css">
	<link rel="stylesheet" href="/public/client/css/main.css">
	<link rel="stylesheet" href="/public/client/css/edit1.css">

	</head>
	
	<body>
		<main id="fullpageMarina">
			<header class="section active introduce" data-anchor="tuan-chau-marina">
				<div class="content--introduce">
					<h2 class="title--introduce">TUẦN CHÂU MARINA HẠ LONG</h2>
					<p class="describe--introduce">Nằm bên cảng tàu du lịch quốc tế Tuần Châu, Shophouse Tuần Châu Marina không chỉ sở hữu hạ tầng tiện ích đồng bộ, mang tới trải nghiệm nghỉ dưỡng thượng lưu bên bờ vịnh Hạ Long mà còn mở ra cơ hội đầu tư sinh lời hoàn hảo, tiềm năng tăng giá chắc chắn trong tương lai cho nhà đầu tư am hiểu thị trường, nhanh nhạy và thức thời.</p>
				</div>
			</header>

			<section class="section size" data-anchor="thong-tin-du-an">
				<div class="size__wrap">
					<div class="size__item size__item--right">
						<h2>Thông tin dự án</h2>
						<p>
							- Tên dự án: TUẦN CHÂU MARIAN 
						</p>
						<p>
							- Vị trí: Số 16 KĐT Cảng Ngọc Châu, Tuần Châu, Thành phố Hạ Long, tỉnh Quảng Ninh
						</p>
						<p>
								- Chủ đầu tư: Tập đoàn Tuần Châu 
						</p>
						<p>
							- Tổng diện tích: 85,195.6m
							<sup>2</sup>
						</p>
						<p>
							- Quy mô: 15 Block Shophouse cao 3-5 tầng
						</p>
						<p> - Diện tích sàn: 370 m
							<sup>2</sup> - 650 m
							<sup>2</sup>
						</p>
						<p>- Số lượng căn Shophouse: 108 căn </p>
						<p>
							- Hình thức sở hữu: Vĩnh viễn
						</p>
					</div>
					<button class="btn--size" type="button">Đăng ký thông tin</button>
				</div>
			</section>

			<section class="section location" data-anchor="vi-tri">
				<div class="location--content container-fluid">
					<div class="row">
						<div class=" col-md-6 content">
							<h2 class="title title--white">VỊ TRÍ ĐẮC ĐỊA – NGẮM CẢ DI SẢN TRONG TẦM MẮT</h2>
							<p>Sở hữu lợi thế “mở cửa hưởng kỳ quan, sở hữu cả di sản” Tuần Châu Marina Hạ Long chính là điểm nhấn tạo đột phá cho nhà đầu tư thông minh, am hiểu thị trường với:</p>
							<p>Vị trí trung tâm khu đô thị Ngọc Châu với cảng tàu du lịch quốc tế Tuần Châu – cảng biển nhân tạo lớn nhất châu Á</p>
							<p>Địa thế “lưng tựa núi – mặt hướng vịnh” với các căn shophouse Tuần Châu Marina có tầm nhìn hướng thẳng ra vịnh Hạ Long, mang tới vượng khí và tài lộc cho chủ sở hữu.</p>
							<p>Kết nối siêu linh hoạt với đa dạng hình thức:</p>
	
							<p class="list__indent">
								<span>• Thời gian di chuyển Hà Nội – Tuần Châu: <strong>2.5 giờ</strong></span>
	
								<br>
								<span>• Cách khu du lịch Bãi Cháy: <strong>5.5km</strong> </span>
	
								<br>
								<span>• Cách vịnh Hạ Long chỉ <strong>3km</strong></span>
							</p>
						</div>
					</div>
				</div>
			</section>

			<section class="section investor" data-anchor="tien-nang">
				<div class="investor--content">
					<div class="row">
						<div class="col-md-6" style="padding: 0 30px">
							<h2>Tiềm năng đầu tư thị trường Quảng Ninh</h2>
							<p>Với những lợi thế về vị trí địa lý, đồng bộ về cơ sở hạ tầng, hai năm trở lại đây, Quảng Ninh thu hút nhiều nhà đầu tư với hàng loạt dự án nghìn tỷ:</p>
							<p style="margin-left: 20px; line-height: 25px;">
							• Cao tốc Hà Nội – Hải Phòng – Hạ Long – Móng Cái dự kiến hoàn thành trong năm nay
							<br>
							• Cầu Bạch Đằng nối Hải Phòng với Hạ Long sắp hoàn thành, sân bay Vân Đồn đi vào hoạt động vào cuối năm 2017 rút ngắn thời gian di chuyển Hà Nội – Hạ Long, Hải Phòng – Hạ Long
							<br>
							• Lượng khách du lịch đến Hạ Long đạt 7.3 triệu lượt trong 10 tháng đầu  năm 2016, trong đó có 2.81 triệu lượt khách quốc tế, tăng 30% so với cùng kỳ
							</p>
						</div>
						<div class="col-md-6 margin_information" style="padding: 0 30px">
							<h2>Sức hút từ cảng tàu khách Tuần Châu</h2>
							<p>Cảng tàu khách quốc tế Tuần Châu là cảng biển duy nhất đưa khách tham quan vịnh Hạ Long – Tuần Châu Marina là dự án đầu tiên sở hữu cảng biển du lịch quốc tế 5 sao:</p>
							<p style="margin-left: 20px; line-height: 25px;">
							• Cảng tàu khách quốc tế Tuần Châu có diện tích 200ha, chiều dài tuyến bến gần 10km, tiếp đón 8.000 – 10.000 lượt khách/ngày, cao điểm lên tới 30.000 lượt
							<br>
							• Cảng Tuần Châu cho phép tiếp nhận cùng lúc 2.000 tàu neo đậu đón, trả khách với công suất khoảng 5 triệu lượt/năm.
							<br>
							• Từ đầu năm 2016, toàn bộ tàu thuyền du lịch đón trả khách tham quan vịnh Hạ Long, Bái Tử Long được chuyển về cảng tàu khách quốc tế Tuần Châu
							</p>
						</div>
					</div>
					<div class="information text-center">
						<div class="information_item">
							<h3>153.3 km</h3>
							<p>Chiều dài cao tốc Hạ Long – Vân Đồn – Móng Cái với vốn đầu tư 2.52 tỷ USD</p>
						</div>
						<div class="information_item">
								<h3>2.000 ha</h3>
								<p>Khu phức hợp giải trí casino tại Vân Đồn với vốn đầu tư 4- 5 tỷ USD</p>
						</div>
						<div class="information_item">
								<h3>7.3 triệu</h3>
								<p>Lượt khách đến Quảng Ninh trong 10 tháng đầu 2016</p>
						</div>
						<div class="information_item">
								<h3>10.000</h3>
								<p>Lượt khách qua cảng Tuần Châu</p>
						</div>
						<div class="information_item">
								<h3>200 ha</h3>
								<p>Diện tích cảng khách quốc tế Tuần Châu</p>
						</div>
					</div>
				</div>
			</section>

			<section class="section adv" data-anchor="loai-hinh">
				<div class="adv--content">
					<div style="text-align: center">
						<h2 class="title title--white">LOẠI HÌNH CĂN HỘ SHOPHOUSE TUAN CHAU MARINA</h2>
						<p class="text-justify" style="color: #fff">
							Mang đậm hơi hướng thiết kế hiện đại, những căn nhà phố thương mại có thiết kế lập phương vuông vức độc đáo. Hầu hết những căn hộ đều có được 2 mặt tiền khởi đầu thuận lợi về phong thủy cho việc kinh doanh phát lộc phát tài cho gia chủ.
						</p>
					</div>
					<div class="loaihinh">
						<div class="loaihinh_item">
							<img class="img_loaihinh" src="/public/client/imgs/can-huong-vinh-tuan-chau-marina.jpg" alt="">
							<p style="margin: 10px">+ Diện tích sàn: 370m – 650m <br>
								+ Diện tích đất: 108m – 155m <br>
								+ Chiều cao: 3.5 – 4.5 tầng</p>
						</div>
						<div class="loaihinh_item">
							<img class="img_loaihinh" src="/public/client/imgs/can-huong-doi-tuan-chau-marina.jpg" alt="">
							<p style="margin: 10px">+ Diện tích sàn: 370m – 650m <br>
								+ Diện tích đất: 108m – 155m <br>
								+ Chiều cao: 3.5 – 4.5 tầng</p>
						</div>
						<div class="loaihinh_item">
							<img class="img_loaihinh" src="/public/client/imgs/can-goc-tuan-chau-marina.jpg" alt="">
							<p style="margin: 10px">+ Diện tích sàn: 370m – 650m <br>
								+ Diện tích đất: 108m – 155m <br>
								+ Chiều cao: 3.5 – 4.5 tầng</p>
						</div>
					</div>
				</div>
			</section>

			<section class="section utility" data-anchor="tien-ich-ben-ngoai">
				<div class="utility--wrap">
					<div class="utility--title">
						<h2 class="title title--white">Tiện ích
							<br>bên ngoài</h2>
						<p>Với ý tưởng xây dựng khu vực căn hộ kinh doanh thương mại, lưu trú nghỉ dưỡng đẳng cấp và hiện diện sự tiện nghi “all-in-one”, chủ đầu tư sẽ thực thi hệ thống tiện ích đẳng cấp đồng bộ.</p>
					</div>
					<div class="utility--content">
						<div class="utility--detail">
							<img src="/public/client/imgs/pho-di-bo.jpg" alt="Phố đi bộ" class="img-responsive">
							<p class="content--detail">Phố đi bộ</p>
						</div>
						<div class="utility--detail">
							<img src="/public/client/imgs/san-golf.jpg" alt="Sân Golf quốc tế 27 lỗ" class="img-responsive">
							<p class="content--detail">Sân Golf quốc tế 27 lỗ</p>
						</div>
						<div class="utility--detail">
							<img src="/public/client/imgs/truong-quoc-te.jpg" alt="Trường quốc tế" class="img-responsive">
							<p class="content--detail">Trường quốc tế</p>
						</div>
						<div class="utility--detail">
							<img src="/public/client/imgs/ben-du-thuyen.jpg" alt="Bến du thuyền" class="img-responsive">
							<p class="content--detail">Bến du thuyền</p>
						</div>
					</div>
				</div>
			</section>

			<section class="section utility--inside-detail" data-anchor="tien-ich-ben-trong">
				<h2 class="title title--section title--white utility--inside-detail-title">Tiện ích bên trong</h2>
				<div class="inside--wrap">
					<div class=" img--inside inside--detail-01">
						<p class="note--inside" style="font-size: 14px">Trung tâm văn hóa và rạp chiếu phim</p>
					</div>
					<div class="img--inside inside--detail-02">
						<p class="note--inside">Dịch vụ y tế thương mại công cộng</p>
					</div>
					<div class="img--inside inside--detail-03">
						<p class="note--inside">Nhà hàng Café Club</p>
					</div>
					<div class="img--inside inside--detail-04">
						<p class="note--inside">Cửa hàng tiện ích</p>
					</div>
					<div class="img--inside inside--detail-05">
						<p class="note--inside">Khu vực kinh doanh khách sạn</p>
					</div>
					<div class="img--inside inside--detail-06">
						<p class="note--inside">Sân chơi thể thao</p>
					</div>
					<div class="img--inside inside--detail-07">
							<p class="note--inside">Bãi đỗ xe</p>
						</div>
				</div>
			</section>

			<section class="section policy__incentives" data-anchor="chinh-sach-uu-dai">
				<div class="size_wrap">
					<div class="policy__box">
						<h2 class="policy__box__title">Chính sách bán hàng</h2>
						<div class="policy__box__content">
							<p class="policy__incentives__list"><strong style="color: red">VAY VỐN NGÂN HÀNG</strong>
								 Chỉ cần 30% vốn tự có thể sở hữu shophouse <strong style="color: red">TUẦN CHÂU MARINA</strong> lãi suất 0% trong 12 tháng </p>
							<p class="policy__incentives__list"><strong style="color: red">CHIẾT KHẤU 7%</strong>
							KHỦNG KHI ĐÓNG THEO TIẾN ĐỘ VÀ THANH TOÁN SỚM 95% giá trị shophouse </p>
							<p class="policy__incentives__list"><strong style="color: red">CHIẾT KHẤU 5%</strong>
								KHI ĐÓNG THEO TIẾN ĐỘ 06 ĐỢT </p>
							<p class="policy__incentives__list"><strong style="color: red">TẶNG NGAY</strong></p>
							<p class="item_chinhsach">+ Chuyến du lịch HỒNG KONG - <strong style="color: red">40 TRIỆU</strong></p>
							<p class="item_chinhsach">+ Gói NỘI THẤT hoàn thiện trị giá - <strong style="color: red">100 TRIỆU</strong></p>
							<p class="item_chinhsach">+ BỐC thăm trúng thưởng</p>
							<p class="item_chinhsach">+ 01 MERCEDES GLC 250 (Trị giá 2 tỷ)</p>
							<p class="item_chinhsach">+ 10 XE VESPA ABS 125I (Trị giá 750 triệu đồng)</p>
						</div>
					</div>
				</div>
			</section>
			<footer class="section contact" data-anchor="lien-he">
				<div class="container-fluid py-5">
					<div class="row py-5">
						<div class="col-md-7 contact__incentives">
							<h2 class="title title--light-red mb-28 title--contact  title--uppercase">4 lý do nên lựa chọn đầu tư Shophouse Marina Tuần Châu</h2>
							<div class="incentives_list">
								<div>
									<p class="title--white bg--color-orange title--uppercase">
										<i class="fa fa-star title--light-red"></i>Đầu tư thông minh kết hợp 3 trong 1:<br> Nghỉ dưỡng - Kinh doanh - Văn phòng </p>
								</div>
								<div>
									<p class="title--white bg--color-orange title--uppercase">
										<i class="fa fa-star title--light-red"></i> Giá gốc từ chủ đầu tư</p>
								</div>
								<div>
									<p class="title--white bg--color-orange title--uppercase">
										<i class="fa fa-star title--light-red"></i> Tiềm năng tăng giá cao trong tương lai </p>
								</div>
								<div>
									<p class="title--white bg--color-orange title--uppercase">
										<i class="fa fa-star title--light-red"></i> Kinh doanh bền vững qua các thế hệ  
									</p>
								</div>
								<div>
									<div class="contact--special">
										<i class="fa fa-star title--light-red"></i>
										<i class="fa fa-star title--light-red"></i>
										<i class="fa fa-star title--light-red"></i>
										HỖ TRỢ KÝ GỬI - TÁI ĐẦU TƯ CHO KHÁCH HÀNG
									</div>
								</div>
							</div>
						</div>
						<div class="col-md-4 ">
							<div>
								<div>
									<div class="text-center">
										<h2 class="title title--green text-center">Liên hệ</h2>
									</div>
									<div>
										<p class="contact__info title--black font-bold">HỆ THỐNG SIÊU THỊ DỰ ÁN BẤT ĐỘNG SẢN</p>
										<p class="contact__info title--black font-bold">TRƯỞNG PHÒNG KINH DOANH: NGUYỄN HỮU NGHIÊM </p>
										<p class="contact__info mgTop31">• HOTLINE:
											<a href="tel:0968 645 639" class="text--black">0968 645 639</a>
										</p>
										<p class="contact__info mgTop31">• Địa chỉ: 137 Nguyễn Ngọc Vũ, Cầu Giấy, Hà Nội </p>
									</div>
								</div>
							</div>
						</div>
					</div>
				</div>

			</footer>
		</main>

		<div class="contact-form--fixed ">
			<!-- <h4 class="title title--green mb-20 title__form">ĐĂNG KÝ THÔNG TIN</h4> -->
			<form action="/subscribe" method="POST" role="form" id="contact" class="d-flex justify-content-around">
				<div class="form-group d-flex custom-group">
					<label for="name" class="form__label">Họ và tên:</label>
					<input type="text" class="form-control form__input p-6 input--name" name="fullName" id="name" required placeholder="Họ và tên"/>
				</div>
				<div class="form-group d-flex custom-group">
					<label for="phone_number" class="form__label">Số điện thoại:</label>
					<input type="text" class="form-control form__input p-6 input--phone-number" name="phone" id="phone_number" placeholder="Số điện thoại" required pattern="^09[0-46-9][0-9]{7}$|^012[0-9]{8}$|^016[2-9][0-9]{7}$|^018[68][0-9]{7}$|^0199[0-9]{7}$|^08[689][0-9]{7}$|^02[0-9]{9}$"
					/>
				</div>
				<div class="form-group d-flex custom-group">
					<label for="email" class="form__label">Email:</label>
					<input type="email" class="form-control form__input p-6 input--email" placeholder="Email" name="email" id="email">
				</div>
				
				<button type="submit" id="btnFormSubmit" class="btn btn-primary form__btn btn--bg-orange btn__subscribe">
					NHẬN BẢNG GIÁ
				</button>
				<button type="submit" id="btnFormSubmit" class="btn btn-primary form__btn btn--bg-orange  phone--responsive ">
					Gửi
				</button>
			
			</form>
		</div>

		<div class="phone-call">
			<a href="tel:0968 645 639" class="phone-call__icon">
				<i class="fa fa-phone" aria-hidden="true"></i>
			</a>
			<div class="phone-call__content--wrap">
				<div class="phone-call__content--item">
					<a href="tel:0968 645 639">0968 645 639</a>
				</div>
			</div>
		</div>
	
		
	
		<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
		<!-- <script src="https://cdnjs.cloudflare.com/ajax/libs/fullPage.js/2.9.4/jquery.fullpage.min.js"></script> -->
		<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js"></script>
		<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"></script>
		<script src="/public/client/js/main.bundle.js"></script>
		<script src="/public/client/js/main.js"></script>

	</body>
	
	</html>