<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1.0" />

<meta content="index,follow" name="robots" />
<meta http-equiv="content-language" content="vi" />

<meta name="author" content="Tuần Châu Marina" />

<meta property="og:url" content="" />
<meta property="og:type" content="website" />
<meta property="og:title" content="Dự án Tuần Châu Marina | Tập đoàn Tuần Châu" />
<meta property="og:image" content="/public/client/imgs/logo-tuan-chu-marina.png" />
