<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
	<title>Dự án Tuần Châu Marina | Thank you</title>
	<meta name="author" content="Hilton">

	<link href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta.3/css/bootstrap.min.css" rel="stylesheet"
		  integrity="sha384-Zug+QiDoJOrZ5t4lssLdxGhVrurbmBWopoEl+M6BdEfwnCJZtKxi1KgxUyJq13dy" crossorigin="anonymous">
	<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/fullPage.js/2.9.4/jquery.fullpage.min.css"/>
	<link rel="stylesheet" type="text/css"
		  href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
	<link rel="stylesheet" href="/public/client/css/style.bundle.css">
</head>
<body>
<main class="thank__page">
	<div class="thank__overlay"></div>
	<div class="thank__content">
		<div class="thank__icon--success">
			<i class="fa fa-check" aria-hidden="true"></i>
		</div>
		<h2>Đăng ký
			<br>thành công</h2>
		<p class="thank__desc">Cảm ơn quý anh chị đã đăng ký nhận bảng giá.</p>
		<p class="thank__desc">Chúng tôi sẽ sớm liên hệ với quý anh chị.</p>


		<div class="thank__line"></div>

		<div class="thank__info">
			<div class="thank__info--item">
			</div>
			<div class="thank__info--item">
				<h3>HỆ THỐNG SIÊU THỊ DỰ ÁN BẤT ĐỘNG SẢN</h3>
				<p class="contact__info mgTop31">• HOTLINE:
					<a href="tel:0916 353 773" class="text--white" style="text-decoration: none; color: #fff" >0916 353 773</a>
				</p>
				<p class="contact__info mgTop31">• Địa chỉ: 137 Nguyễn Ngọc Vũ, Cầu Giấy, Hà Nội </p>
			</div>
		</div>

	</div>
</main>
</body>
</html>
