.introduce, .size, .location, .investor, .policy__incentives {
    height: 720px;
    position: relative
}
.phone--responsive {
    display: none;
}

.size__wrap {
    position: absolute;
    right: 100px;
}

.location--content {
    margin-top: 150px;
}

.investor--content {
    padding-top: 125px!important;
}

.utility--wrap {
    padding:100px 0;
}

.utility--inside-detail-title {
    margin-top: 45px;
}

.contact-form--fixed {
    position: fixed;
    bottom: 0;
    width: 100%;
    background-image: linear-gradient( 135deg, #FFF720 10%, #3CD500 100%);
}

.btn__subscribe {
    position: initial;
    margin-bottom: 10px;
    font-size: 18px;
}

.phone-call {
    bottom: 75px;
    left: 10px;
}

.custom-group {
    height: 35px;
    margin-top: 23px
}

.form__label {
    text-align: right;
    width: fit-content;
    margin-right: 5px;
    margin-bottom: 0;
    line-height: 32px;
}

.form__input {
    width: 250px;
}

@media (max-width: 1200px) and (min-width: 992px) {

    .btn__subscribe {
        position: initial;
        margin-bottom: 10px;
        font-size: 15px;
    }
    
    .form__label {
        text-align: right;
        width: fit-content;
        margin-right: 5px;
    }
    
    .form__input {
        width: 175px;
    }
}

@media (max-width: 992px) {

    .btn__subscribe {
        position: initial;
        margin-bottom: 10px;
        font-size: 12px;
    }
    
    .form__label {
        display: none;
    }
    
    .form__input {
        width: 22vmax;;
    }
}

@media (max-width: 512px) {

    .introduce, .size, .location, .investor, .policy__incentives {
        height: auto;
        position: relative
    }

    .policy__incentives {
        height: 600px;
    } 

    .size__wrap {
       position: initial;
   }

   .location--content {
       padding: 15px;
       margin: 0
   }

   .input--email {
       display: none;
   }

    .btn__subscribe {
        display: none;
    }

    .phone--responsive {
        display: inline-block;
        margin-bottom: 10px;
        margin-top: 25px;
        z-index: 999;
        border: 0;
        border-radius: 10px;
        background-color: #f4ae2c;
        cursor: pointer;
        font-size: 14px;
    }

}