<% layout('admin/boilerplate_auth') %>
<div class="form login_form">
    <section class="login_content">
        <form action="/auth/password/reset/<%= token %>" method="post" class="form-validation-pl">
            <h1>Thay đổi mật khẩu</h1>

            <div class="item">
                <input type="password" name="password" class="form-control" placeholder="Mật khẩu mới"
                       required data-parsley-required-message="Bạn chưa nhập Mật khẩu"
                       data-parsley-minlength-message="Mật khẩu nên có ít nhất 6 ký tự"
                       data-parsley-mincheck="6" id="password">
            </div>

            <div class="item">
                <input type="password" name="repassword" class="form-control" placeholder="Nhập lại mật khẩu"
                       required data-parsley-required-message="Vui lòng nhập lại Mật khẩu"
                       data-parsley-equalto="#password" data-parsley-equalto-message="Mật khẩu không khớp">
            </div>

            <div>
                <button class="btn btn-default" type="submit">Thay đổi mật khẩu</button>
            </div>

            <div class="clearfix"></div>
            <div class="separator">
                <div class="clearfix"></div>
                <br>

                <div>
                    <h1><i class="fa fa-paw"></i> Gentelella Alela!</h1>
                    <p>©2016 All Rights Reserved. Gentelella Alela! is a Bootstrap 3 template. Privacy and Terms</p>
                </div>
            </div>
        </form>
    </section>
</div>