<% layout('admin/boilerplate') %>

<div class="col-md-12 col-sm-12 col-xs-12">
    <div class="x_panel">
        <div class="x_title">
            <h2>Robots.txt</h2>
            <div class="clearfix"></div>
        </div>
        <div class="x_content">
            <form action="/admin/robots/edit" method="post">
                <div class="form-group mgBottom0">
                    <div class="row">
                        <label class="control-label col-md-2 col-sm-2 col-xs-12" for="robots">
                            Robots.txt
                        </label>
                        <div class="col-md-9 col-sm-9 col-xs-12 ">
                            <textarea name="robots" class="form-control mgBottom20" rows="14" id="robots"
                                      autocomplete="off" placeholder="Robots.txt" style="padding-left: 10px;"><%= content %></textarea>
                        </div>
                    </div>
                </div>

                <div class="ln_solid"></div>

                <div class="form-group">
                    <div class="row">
                        <div class="col-md-9 col-sm-9 col-xs-12 col-md-offset-2">
                            <button class="btn btn-success" type="submit">Chỉnh sửa</button>
                        </div>
                    </div>
                </div>
            </form>
        </div>
    </div>
</div>