<% layout('admin/boilerplate') %>

<div class="col-md-12 col-sm-12 col-xs-12">
    <div class="x_panel">
        <div class="x_title">
            <h2>Subcribers</h2>
			<div class="col-md-5 col-sm-5 col-xs-12 form-group pull-right top_search">
				<form action="/">
					<div class="input-group">
						<input type="text" class="form-control" name="q" placeholder="Tìm theo tên hoặc số điện thoại...">
						<span class="input-group-btn">
                              <button class="btn btn-default">Search</button>
                          </span>
					</div>
				</form>
			</div>

            <div class="clearfix"></div>
        </div>
        <div class="x_content">
            <div class="panel panel-default panel-table">
                <div class="panel-body">
                    <div class="table-responsive">
                        <table class="table table-hover table-bordered table-list">
                            <thead>
                            <tr>
                                <th>STT</th>
								<th>Họ tên</th>
                                <th>Số điện thoại</th>
                                <th>Email</th>
								<th>Nội dung</th>
                                <th>Trạng thái</th>
                                <th>Ngày gửi</th>
                                <th>Tùy chọn</th>
                            </tr>
                            </thead>

                            <tbody>
                            <% registers.forEach((register, i) => { %>
                            <tr id="wrap-<%= register._id %>" class="<% if (register.deleteAt) { %>bg-red<% } %>">
								<td>
									<%= numberOrder + i %>
								</td>
                                <td>
									<%= register.fullName %>
                                </td>
								<td>
									<%= register.phone %>
								</td>
								<td><%= register.email ? register.email : '' %></td>
								<td class="truncateText"><%= register.content ? register.content : '' %></td>
								<td>
									<h4 id="<%= register._id %>">
									<% if (register.isHandled) { %>
									<span class="label label-success label-lg">Đã xử lý</span>
									<% } else { %>
									<span class="label label-warning label-md">Chưa xử lý</span>
									<% } %>
									</h4>
								</td>
								<td class="dateCol"><%= register.createdAt.getDate() + '/' + (register.createdAt.getMonth() + 1) + '/' + register.createdAt.getFullYear() %></td>
								<td class="text-center">
									<% if (!register.deleteAt) { %>
                                    <div class="btn-group" id="wrapBtn-<%= register._id %>">
										<button class="btn btn-default btn-handle-subscribe"
												data-id="<%= register._id %>">
											<i class="fa fa-check" aria-hidden="true"></i>
										</button>

                                        <button class="btn btn-danger btn-delete-subscribe"
                                                data-id="<%= register._id %>">
                                            <i class="fa fa-trash" aria-hidden="true"></i>
                                        </button>
                                    </div>
									<% } %>
                                </td>
                            </tr>
                            <% }); %>
                            </tbody>
                        </table>
                    </div>
                </div>
				<div class="panel-footer">
					<div class="row">
						<div class="col col-xs-4">Page <%= currentPage %> of <%= countPages %>
						</div>
						<div class="col col-xs-8">
							<ul class="pagination hidden-xs pull-right">
								<% for (let i = 1; i <= countPages; i++) { %>
								<li class="<% if (currentPage === i) { %>active<% } %>">
									<a href="/admin/subscribers?page=<%= i %>&<%= queryUrl %>">
										<%= i %>
									</a>
								</li>
								<% } %>
							</ul>
							<ul class="pagination visible-xs pull-right">
								<li><a href="#">«</a></li>
								<li><a href="#">»</a></li>
							</ul>
						</div>
					</div>
				</div>
            </div>
        </div>
    </div>
</div>
